@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-white text-gray-900 dark:bg-gray-900 dark:text-gray-100;
  }
}

:root {
  --ring-start: #3b82f6; /* azul */
  --ring-middle: #8b5cf6; /* púrpura */
  --ring-end: #3b82f6; /* azul */
}

.dark {
  --ring-start: #a855f7; /* púrpura claro */
  --ring-middle: #3b82f6; /* azul */
  --ring-end: #a855f7; /* púrpura */
}
